%p#notice= notice
%h1 Orders
%table
  %thead
    %tr
      %th Orders
  %tbody
    - @orders.each do |order|
      %tr
        %td= link_to order.created_at, order
%br/
= form_tag orders_path do
  = submit_tag "Order groceries"
